<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map-canvas {
                height: 100%;
            }
            #info {
                padding:20px;
            }
            #options {
                font-size: 62.5%;
                text-align:right;
                float: right;
                padding-right:10px;

            }
        </style>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ googlekey }}">
        </script>

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>

        <script type="text/javascript">
        var property;
        var rescale;
        var map;
        var colors;
        var grid;
        var domain;
        var info;
        // All this is ugly and needs cleanup.

        var updateColormap = function() {
            console.log('in updateColormap');
            console.log(info);
            minmax = [rescale(info['min_'+grid][property]), rescale(info['max_'+grid][property])];
            domain = d3.scale.ordinal()
                .domain(d3.range(9))
                .rangePoints(minmax,0)
                .range();
            colors = d3.scale.linear()
                .domain(domain)
                .range(["#fff7fb","#ece7f2","#d0d1e6","#a6bddb","#74a9cf","#3690c0","#0570b0","#045a8d","#023858"]);
        }

        var redraw = function(map) {
            updateColormap();
            map.data.setStyle(function(feature) {
                var id = feature.getId();
                var props = info[id];
                if (typeof props == 'undefined') {
                    return defaultFeatureStyle;
                } else {
                    return {
                        fillColor: colors(rescale(props[property])),
                        fillOpacity: .5,
                        strokeOpacity: .1,
                        strokeWeight: 1
                    };
                }
            });
        };

        $(document).ready( function() {

        //$("#options").buttonset();
        $("#options input:radio[name=scale]").change(function() {
            if ($("#radio1").is(":checked")) {
                rescale = function(val) {
                    return val;
                };
            } else if ($("#radio2").is(":checked")) {
                rescale = function(val) {
                    return Math.log(1 + val);
                };
            } else {
                rescale = function(val) {
                    return Math.log(Math.log(1+val));
                };
            }

            if (typeof map != 'undefined') {
                redraw(map);
            }
        });

        $("#property").change(function() {
            property = $("#property").val();
            if (typeof map != 'undefined') {
                redraw(map);
            }
        });

        $("#options input:radio[name='scale']").trigger("change");
        $


        });
        </script>
 
        {% block morehead %}{% endblock %}
    </head>
    <body>
    <div id="options">
    Property:
        <select id="property">
            {% block properties %}{% endblock %}
        </select>
    <br>
    Color Scale:
        <input type="radio" id="radio1" name="scale" value="linear" checked><label for="radio1">Linear</label>
        <input type="radio" id="radio2" name="scale" value="log"><label for="radio2">Log</label>
        <input type="radio" id="radio3" name="scale" value="doublelog"><label for="radio3">Log Log</label>
    </div>
    {% block body %}{% endblock %}
    </body>
</html>


