{% extends "base.html" %}
{% block morehead %}
        <script type="text/javascript">

        var center;
        var initialLat;
        var initialLong;
        var dropMarker = false;
        var property;
        var color;
        var grid = "states";

        if (("lat" in urlParams) && ("long" in urlParams)) {
            center = new google.maps.LatLng(urlParams["lat"], urlParams["long"]);
            dropMarker = true;
        } else {
            // Center of USA
            center = new google.maps.LatLng(39.833333, -98.583333);
        }

        if ("property" in urlParams) {
            property = urlParams["property"];
        } else {
            property = "mle_entropy";
        }

        var mapOptions;
        var map;

        var defaultFeatureStyle = {
            fillColor: 'black',
            fillOpacity: 0,
            strokeOpacity: 0.1,
            strokeWeight: 1
        };

        function initialize() {
            mapOptions = {
              center: center,
              zoom: 4
            };

            map = new google.maps.Map(document.getElementById("map-canvas"),
                                          mapOptions);

            // To add the marker to the map, use the 'map' property
            if (dropMarker) {
                var marker = new google.maps.Marker({
                    position: center,
                    map: map,
                    title:"Hello World!"
                });
            }

            $.when( $.getJSON("data/us-2014-10m.json"),
                    $.getJSON("data/names.json") )
                .done( function(usdata, usinfo) {
                            info = usinfo[0];
                            geoJsonObject = topojson.feature(usdata[0], usdata[0].objects[grid]);
                            map.data.addGeoJson(geoJsonObject);
                            redraw();
                        });

            map.data.addListener('mouseover', function(event) {
                    var id = event.feature.getId();
                    var props = info[id];
                    if (typeof props !== 'undefined') {
                        $("#info").text(props["name"] + ' : ' + id + ' : ' + property + ' = ' + propertyInfo[id]);
                        map.data.overrideStyle(event.feature, {strokeWeight: 2, strokeOpacity: 1});
                    }
            });

            map.data.addListener('mouseout', function(event) {
                map.data.revertStyle();
            });

        }

    </script>
{% endblock %}

{% block properties %}
            <option value="respop72013">Resident Population 07/2013 (est)</option>
            <option value="landarea">Total Land Area</option>
            <option value="mle_entropy" selected>Entropy of Hashtag Distribution</option>
            <option value="users">Number of Users</option>
            <option value="tweeted_hashtags">Number of Tweeted Hashtags</option>
            <option value="distinct_hashtags">Number of Distinct Hashtags</option>
            <option value="countratio">Log(Tweeted Hashtags) / Log(Distinct Hashtags)</option>
            <option value="low10_countratio">Ratio of Hashtags with less than 10 counts</option>
            <option value="top5000ratios">Included Ratio of Top 5000 Hashtags</option>
            <option value="unionX70">Included Ratio of Union-70% Top Hashtags</option>
            <option value="unionX80">Included Ratio of Union-80% Top Hashtags</option>
            <option value="unionX90">Included Ratio of Union-90% Top Hashtags</option>

{% endblock %}

{% block body %}
      <div id="info">US States</div>
      <div id="map-canvas"></div>
{% endblock %}
