{% extends "base.html" %}
{% block morehead %}
	<script type="text/javascript">

        var urlParams;
        (window.onpopstate = function () {
            var match,
                pl     = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query  = window.location.search.substring(1);

            urlParams = {};
            while (match = search.exec(query))
               urlParams[decode(match[1])] = decode(match[2]);
        })();

        var center;
        var initialLat;
        var initialLong;
        var dropMarker = false;
        var info;
        var property;
        var color;
        var grid = "state";

        if (("lat" in urlParams) && ("long" in urlParams)) {
            center = new google.maps.LatLng(urlParams["lat"], urlParams["long"]);
            dropMarker = true;
        } else {
            // Center of USA
            center = new google.maps.LatLng(39.833333, -98.583333);
        }

        if ("property" in urlParams) {
            property = urlParams["property"];
        } else {
            property = "mle_entropy";
        }

    
        var mapOptions;
        var map;

        var defaultFeatureStyle = {
            fillColor: 'black',
            fillOpacity: 0,
            strokeOpacity: 0,
            strokeWeight: 0.2
        };

        function initialize() {
            mapOptions = {
              center: center,
              zoom: 4
            };

            map = new google.maps.Map(document.getElementById("map-canvas"),
                                      mapOptions);

            // To add the marker to the map, use the 'map' property
            if (dropMarker) {
                var marker = new google.maps.Marker({
                    position: center,
                    map: map,
                    title:"Hello World!"
                });
            }

            $.when( $.getJSON("data/us-2014-10m.json"),
                    $.getJSON("data/state_county_info.json") )
                .done( function(usdata, usinfo) {
                            info = usinfo[0];
                            updateColormap(); 
                            geoJsonObject = topojson.feature(usdata[0], usdata[0].objects.states)
                            map.data.addGeoJson(geoJsonObject);

                            /*
                            map.data.setStyle(defaultFeatureStyle);
                            */
                            map.data.setStyle(function(feature) {
                                var fips = feature.getId();
                                var props = info[fips];
                                if (typeof props == 'undefined') {
                                    return defaultFeatureStyle;
                                } else {
                                    return {
                                        fillColor: colors(rescale(props[property])),
                                        fillOpacity: .5,
                                        strokeOpacity: .1,
                                        strokeWeight: 1
                                    };
                                }
                            });

                        });

            map.data.addListener('mouseover', function(event) {
                    var fips = event.feature.getId();
                    var props = info[fips];
                    if (typeof props != 'undefined') {
                        $("#info").text(props["name"] + ' : ' + fips + ' : ' + property + ' = ' + props[property]);
                        map.data.overrideStyle(event.feature, {strokeWeight: 2, strokeOpacity: 1});
                    }
            });

            map.data.addListener('mouseout', function(event) {
                map.data.revertStyle();
            });

        }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block properties %}
            <option value="respop72013">Resident Population 07/2013 (est)</option>
            <option value="landarea">Total Land Area</option>
            <option value="mle_entropy" selected>Entropy of Hashtag Distribution</option>
            <option value="tweeted_hashtags">Number of Tweeted Hashtags</option>
            <option value="distinct_hashtags">Number of Distinct Hashtags</option>
            <option value="top5000ratios">Missing Ratio of Top 5000 Hashtags</option>
{% endblock %}

{% block body %}
      <div id="info">US States</div>
      <div id="map-canvas"></div>
{% endblock %}
